{% extends 'main/base.html' %}

{% load static %}

{% block title %}Abdullah bin Rokan | Add project{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/add_project.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}        
    </div>
    {% endif %}
    <div class="row">
        <!-- start of form section -->
        <section class="contact-form-container container col-md-6">
            <h3>Add a Project</h3>
            <form action="{% url 'main:add_project_view' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div>
                        <label class="form-label" for="name">Project Name</label>
                        <input class="form-control" type="text" name="name" placeholder="Enter project name" required />
                    </div>
                    <div>
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" placeholder="Enter project description" required></textarea>
                    </div>
                    <div>
                        <label class="form-label" for="image">Image</label>
                        <input class="form-control" type="file" name="image" id="image" accept="image/*" required>
                    </div>
                    <div>
                        <label class="form-label" for="details_image">Details Image</label>
                        <input class="form-control" type="file" name="details_image" id="details_image" accept="image/*" required>
                    </div>
                    <div>
                        <button class="btn btn-transparent">Submit</button>
                    </div>
                </div>
            </form>
        </section>
        <!-- end of form section -->
    </div>
</div>
{% endblock %}