{% extends 'main/base.html' %}

{% load static %}

{% block title %}Abdullah bin Rokan | Contact{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="contact-container container d-flex justify-content-between">
    <div class="row">
        <!-- start of contact details section -->
         <section class="contact-details-container col-md-6 justify-content-evenly">
            <h3>Contact Details</h3>
            <div class="details-container SMN_effect-14 d-flex flex-column justify-content-evenly">
                <p><i class="bi bi-envelope-at-fill"></i><strong> Email: </strong><a href="mailto:aarokan@gmail.com" target="_blank">aarokan@gmail.com</a></p>
                <p><i class="bi bi-geo-alt-fill"></i><strong> Location: </strong>Riyadh, Saudi Arabia</p>
                <p><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/abdullahrokan/" target="_blank"> LinkedIn</a></p>
                <p><i class="bi bi-github"></i><a href="https://github.com/Abdullah-binRokan" target="_blank"> GitHub</a></p>
            </div>
         </section>
        <!-- end of contact details section -->
        <!-- start of form section -->
        <section class="contact-form-container container col-md-6">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                <p>You will be redirected to the home page shortly</p>
                <script>
                    setTimeout(function() {
                        window.location.href = "{% url 'main:home_view' %}";
                    }, 5000)
                </script>        
            </div>
            {% endif %}
            <h3>Contact Form</h3>
            <form action="{% url 'main:contact_view' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div>
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" name="name" placeholder="Ahmed Nasser" required />
                    </div>
                    <div>
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" name="email" placeholder="name@example.com" required />
                    </div>
                    <div>
                        <label class="form-label" for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" placeholder="Enter your message here" required></textarea>
                    </div>
                    <div>
                        <button class="btn btn-transparent">Submit</button>
                    </div>
                </div>
            </form>
        </section>
        <!-- end of form section -->
    </div>
</div>
{% endblock %}