{% extends 'main/base.html' %}

{% load static %}

{% block title %}Abdullah bin Rokan | Full Stack Web Developer{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<!-- end of hero section -->
<section class="hero-container container">
    <div class="row">
        <div class="hero-img col-md-8">
            <img src="{% static 'images/web-design-img.jpg' %}" alt="web-design" />
        </div>
        <div class="hero-content d-flex flex-column justify-content-evenly col-md-4">
            <div>
                <h3>My Journey</h3>
                <p>Hi, I'm Abdullah—a dedicated coder who started as a front-end developer before becoming a full stack developer</p>
            </div>
            <div>
                <h3>Let's Connect</h3>
                <p>Would you like to discuss a new project, or collaboration opportunities</p>
                <div><a href="#"><button class="btn btn-transparent">Contact me</button></a></div>
            </div>
        </div>
    </div>
</section>
<!-- start of hero section -->
<!-- start of skills section -->
<section class="grey-background">
    <div class="container">
        <h3>Skills & Expertise</h3>
        <div class="row">
            <div class="skills-item col-md-6">
                <i class="bi bi-window-stack"></i>
                <p><strong> Front-End Development</strong><br />Proficient in HTML, CSS, JavaScript, and React.</p>
            </div>
            <div class="skills-item col-md-6">
                <i class="bi bi-code-square"></i>
                <p><strong> Back-End Development</strong><br />Skilled in Python and Django.</p>
            </div>
        </div>
        <div class="row">
            <div class="skills-item col-md-6">
                <i class="bi bi-phone"></i>
                <p><strong> Mobile Development:</strong><br />Using React Native to build cross-platform apps.</p>
            </div>
            <div class="skills-item col-md-6">
                <i class="bi bi-aspect-ratio"></i>
                <p><strong> Responsive Design</strong><br />Create mobile-friendly designs using media queries.</p>
            </div>
        </div>
    </div>
</section>
<!-- end of skills section -->
<!-- start of featured projects -->
<section>
    <div class="container">
        <h3>Featured Projects</h3>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- link trigger modal-1 -->
                <div class="projects-cards SMN_effect-14">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal-1">
                        <img src="{% static 'images/projects/flash-cards.jpg' %}" alt="">
                        <h5>test</h5>
                    </a>
                </div>
            </div> <!-- endo of col-->
            <div class="col-12 col-md-6 col-lg-4">
                <!-- link trigger modal-2 -->
                <div class="projects-cards SMN_effect-14">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                        <img src="{% static 'images/projects/flash-cards.jpg' %}" alt="">
                        <h5>test</h5>
                    </a>
                </div>
            </div> <!-- endo of col-->
            <div class="col-12 col-md-6 col-lg-4">
                <!-- link trigger modal-3 -->
                <div class="projects-cards SMN_effect-14">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal-3">
                        <img src="{% static 'images/projects/flash-cards.jpg' %}" alt="">
                        <h5>test</h5>
                    </a>
                </div>
            </div> <!-- endo of col-->
            <!-- start of Modal-1 -->
            <div class="modal fade" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal-1 title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>this is modal-1 body</p>
                            <div class="modal-img">
                                <img src="{% static 'images/projects/flash-cards.gif' %}" alt="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-transparent" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Modal-1 -->
            <!-- start of Modal-2 -->
            <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal-2 title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>this is modal-2 body</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-transparent" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Modal-2 -->
            <!-- start of Modal-3 -->
            <div class="modal fade" id="exampleModal-3" tabindex="-1" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal-3 title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>this is modal-3 body</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-transparent" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Modal-3 -->
        </div> <!-- end of row-->
    </div> <!-- end of container div -->
</section>
<!-- end of featured projects -->
{% endblock %}