{% extends 'main/base.html' %}

{% load static %}

{% block title %}Abdullah bin Rokan | Full Stack Web Developer{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<!-- start of hero section -->
<section class="hero-container container">
    <div class="row">
        <div class="hero-img col-md-8">
            <img src="{% static 'images/web-design-img.jpg' %}" alt="web-design" />
        </div>
        <div class="hero-content d-flex flex-column justify-content-evenly col-md-4">
            <div>
                <h3>My Journey</h3>
                <p>Hi, I'm Abdullah—a dedicated coder who started as a front-end developer before becoming a full stack developer</p>
            </div>
            <div>
                <h3>Let's Connect</h3>
                <p>I’m open to discussing new projects, and collaboration opportunities</p>
                <div><a href="#"><button class="btn btn-transparent">Contact me</button></a></div>
            </div>
        </div>
    </div>
</section>
<!-- start of hero section -->
 <!-- start of skills section -->
 <section class="grey-background">
    <div class="container">
        <h3>Skills & Expertise</h3>
        <div class="row">
            <div class="skills-item col-md-6"><i class="bi bi-window-stack"></i><strong> Front-End Development:</strong> <br />Proficient in HTML, CSS, JavaScript, and React.</div>
            <div class="skills-item col-md-6"><i class="bi bi-code-square"></i><strong> Back-End Development:</strong> <br />Skilled in Python and Django.</div>
        </div>
        <div class="row">
            <div class="skills-item col-md-6"><i class="bi bi-phone"></i><strong> Mobile Development:</strong> <br />Using React Native to build cross-platform apps.</div>
            <div class="skills-item col-md-6"><i class="bi bi-aspect-ratio"></i><strong> Responsive Design:</strong> <br />Create mobile-friendly designs using media queries.</div>
        </div>
    </div>
</section>
<!-- end of skills section -->
 <section></section>
{% endblock %}