{% extends 'main/base.html' %}

{% load static %}

{% block title %}Abdullah bin Rokan | Full Stack Web Developer{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="hero-container container">
    <div class="row">
        <div class="hero-img col-md-8">
            <img src="{% static 'images/web-design-img.jpg' %}" alt="web-design" />
        </div>
        <div class="hero-content d-flex flex-column justify-content-evenly col-md-4">
            <div>
                <h3>My Journey</h3>
                <p>Hi, I'm Abdullah—a dedicated coder who started as a front-end developer before becoming a full stack developer</p>
            </div>
            <div>
                <h3>Let's Connect</h3>
                <p>I’m open to discussing new projects, and collaboration opportunities</p>
                <div><a href="#"><button class="btn btn-transparent">Contact me</button></a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}