/*** main ***/
/* contact details */
.details-container {
    height: 100%;
}

/* form */
.alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: white;
}

.alert.success {
    background-color: green;
}

.alert.error {
    background-color: red;
}

.form-control {
    margin-bottom: 1rem;
}

textarea {
    height: 6rem;
}


/*** media queries ***/
@media (max-width: 768px) {
    .contact-form-container {
        margin-top: 1rem;
    }
}
