/*** main ***/
/* hero */
.hero-container {
    margin-top: 1rem;
}

.hero-img {
    overflow: hidden;
}

.hero-img img {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
    border: 1px solid #333;
}

/* skills */
.skills-item {
    padding-right: 3rem;
    padding-bottom: 1rem;
}

/* featured projects */
.projects-cards {
    overflow: hidden;
    
}

.projects-cards img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    border: 1px solid #333;
}

.projects-cards h5 {
    text-align: center;
    padding-bottom: 1rem;
}

/* modal */
.modal-header h1 {
    color: #02b3e4;
}

.modal-img img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    border: 1px solid #333;
}

/*** media queries ***/
@media (max-width: 768px) {
    .hero-content {
        margin-top: 1rem;
    }
}